<div fxFill fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="100px">
    <div fxLayoutAlign="center center">
      <div [style]="'font-size: 60px;line-height: 60px;color: cornflowerblue;'">
        {{ value || 0 }}
      </div>
    </div>

    <app-number-picker
      [initialValue]="initialValue"
      [increment]="increment"
      [maxValue]="maxValue"
      [minValue]="minValue"
      (numberSelected)="onNumberSelected($event)"
    ></app-number-picker>
  </div>
</div>
